<!DOCTYPE html>
<html>
<head>
    <title>Add Customer</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Add Bike</h1>
<table id="customers">
  <tr>
    <td>Tag</td>
    <td><input type="text" placeholder="Tag"></td>
  </tr>
  
  <tr>
    <td>Status</td>
    <td><input type="text" placeholder="Status"></td>
  </tr>

</table>
<br><br>

<input type="submit" name="submit">

</body>
</html>
