<!DOCTYPE html>
<html>
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-4KIc2mnKfAA7VjirNLk2Sqp7jxFNq1q8+FhYGxhW2l52lt4HJsfksL+hjswHfbl/" crossorigin="anonymous">
    <title>Add Customer</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Add Customer</h1>

<form action="/customer/add" method="post">
<table id="customer">
  <tr>
    <td>Name</td>
    <td><input type="text" name="name" placeholder="Your Name"></td>
  </tr>
  
  <tr>
    <td>Age</td>
    <td><input type="text" name="age" placeholder="Age"></td>
  </tr>

  <tr>
    <td>Gender</td>
    <td><input type="radio" name="gender" value="male" checked> Male
        <input type="radio" name="gender" value="female"> Female</td>
  </tr>

  <tr>
      <td>Email</td>
      <td><input type="text" name="email"></td>
  </tr>

  <tr>
    <td>Bike Id</td>
    <td><input type="text" name="bikeId" placeholder="Bike Id"></td>
  </tr>

  <tr>
      <td>Birthdate</td>
      <td><input type="date" name="birthdate"></td>
  </tr>
  <br><br>
  
  
</table>
    <input type="submit" name="submit">
    </form>
</body>
</html>
