<!DOCTYPE html>
<html>
<head>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-4KIc2mnKfAA7VjirNLk2Sqp7jxFNq1q8+FhYGxhW2l52lt4HJsfksL+hjswHfbl/" crossorigin="anonymous">
    <title>Edit Customer</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 5px;
        }
            
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1>Edit Customer</h1>
<table id="vendor">
        <form action="/customer/edit/<%=edited.id%>" method="post">
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="<%= edited.name%>" placeholder="Name"></td>
    </tr>

    <tr>
        <td>Gender</td>
        <td><input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female</td>
    </tr>

    <tr>
        <td>Email</td>
        <td><input type="text" name="email" value="<%= edited.email%>" placeholder="Email"></td>
    </tr>

    <tr>
        <td>Birthdate</td>
        <td><input type="date" value="<%= edited.birthdate%>" name="birthdate"></td>
    </tr>
    
</table>
<br><br>
    <input type="submit" value="submit">
</form>
</body>
</html>
