<!DOCTYPE html>
<html>
<head>
    <title>INDEX PAGE</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <th>Menu</th>
        <tr>
            <td><a href="/">Home</a></td>
        </tr>

        <tr>
            <td><a href="/customer/add">Add Customer</a></td>
        </tr>

        <tr>
            <td><a href="/vendor/add">Add Vendor</a></td>
        </tr>

        <tr>
            <td><a href="/addbike">Add Bike</a></td>
        </tr>

    </table>
</body>
</html>