<!DOCTYPE html>
<html>
<head>
    <title>Customer Index</title>
    <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
</head>
<body>
    <table>
        <tr>
            <th>Location</th>
            <th>Bike List</th>
        </tr>
        
        <% dataTerminal.forEach(function(dataTerm) { %>
            <tr>
                <td><%= dataTerm.location %></td>
                <td><%= dataTerm.bikelist %></td>
                <td>
                    <a href="terminal/edit/<%= dataTerm.id %>">Edit</a>
                    ||
                    <a href="terminal/delete/<%= dataTerm.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>