<!DOCTYPE html>
<html>
<head>
    <title>Customer Index</title>
    <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
            
            td, th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
        </tr>

        <% dataVendor.forEach(function(dataVen) { %>
            <tr>
                <td><%= dataVen.name %></td>
                <td><%= dataVen.bikelist %></td>
                <td>
                    <a href="terminal/edit/<%= dataVen.id %>">Edit</a>
                    ||
                    <a href="terminal/delete/<%= dataVen.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>

    </table>
</body>
</html>